
@{
    ViewBag.Title = "CreateWork";
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

<style>
    .ck {
        height: 300px
    }
</style>
<div class="" ng-app="">
    <div class="">
        <form method="post" action="@Url.Action("CreateWork","Employer")">
            <div class="row">
                <div class="col-lg-8">
                    <div class="alert alert-danger"><i class="fa fa-bell">&nbsp;</i>Viết nội dung vào các vi trí gạch đỏ và các trường nội dung phù hợp. Sau thi bấm vào sẽ có 1 hướng dẫn cho bạn!</div>
                    <h5 class="font-weight-light text-primary font-weight-bold mt-3" style="margin-top: 3%">TÊN CÔNG VIỆC</h5>
                    <input ng-click="work_name = 'Tên công việc liên quan (vd: Tuyển backend làm website c#, kế toán trường phòng,...)';work_deadline = '';work_description = '';work_price='';work_sex='';work_format='';work_yearsofexp='';work_provinc='';work_address='';work_ifamemap ='';work_note='';work_request='';work_benefit=''" placeholder="Nhập vào tên công việc" name="work_name" style="border: 1px dashed red; margin-top: 3%; font-size: 20px; background-color:#f3f3f3; width: 100%" />
                    <div style="font-size: 12px; color: green; font-weight: bold;margin-top: 2%">{{work_name}}</div>
                    <h5 class="font-weight-light text-primary font-weight-bold mt-3" style="margin-top: 3%">NGÀY HẾT HẠN HỒ SƠ</h5>
                    <input ng-click="work_deadline = 'Ngày hết hạn nôp hồ sơ, thì hết hạn ứng viên không thể xem và nôp hồ sơ';work_name = '';work_description='';work_price='';work_sex='';work_format='';work_yearsofexp='';work_provinc='';work_address='';work_ifamemap ='';work_note='';work_request='';work_benefit=''" type="date" name="work_deadline" style="margin-top: 3%; width: 100%; background-color:#f3f3f3;border: 1px dashed red; font-size: 20px" />
                    <div style="font-size: 12px; color: green; font-weight: bold; margin-top: 2%">{{work_deadline}}</div>
                    <h5 class="font-weight-light text-primary font-weight-bold mt-3" style="margin-top: 3%">ẢNH CÔNG TY</h5>
                    <div class="row" style="margin-top: 3%">
                        <div class="col-sm-4 col-6">
                            <img src="~/Images/Work/danh-ba-trung-tam-tu-van-gioi-thieu-viec-lam-khu-vuc-mien-nam-99.jpg" alt="Circle image" class="img-fluid rounded shadow" style="width: 100%; height: 200px">
                        </div>
                        <div class="col-sm-4 col-6">
                            <img src="~/Images/Work/unnamed.jpg" alt="Raised image" class="img-fluid rounded shadow" style="width: 100%; height: 200px">
                        </div>
                        <div class="col-sm-4 col-6">
                            <img src="~/Images/Work/VietBeauty-Academy-cam-ket-tuyen-dung-viec-lam.png" alt="Raised circle image" class="img-fluid rounded shadow" style="width: 100%; height: 200px">
                        </div>
                    </div>
                    <h5 class="font-weight-light text-primary font-weight-bold mt-3" style="margin-top: 3%">MÔ TẢ CÔNG VIỆC</h5>
                    <div class="mt-3" style="margin-top: 3%" ng-click="work_description = 'Mô tả đầy đủ công việc cho ứng viên, cần làm gì liên quan đến công việc.';work_deadline = '';work_name='';work_price='';work_sex='';work_format='';work_yearsofexp='';work_provinc='';work_address='';work_ifamemap ='';work_note='';work_request='';work_benefit=''">
                        <textarea name="work_description" id="editor">Giới thiệu về công việc này</textarea>
                        <div style="font-size: 12px; color: green;margin-top: 2%; font-weight: bold; margin-top: 2%">{{work_description}}</div>
                    </div>
                    <h5 class="font-weight-light text-primary font-weight-bold mt-3" style="margin-top: 3%">YÊU CẦU</h5>
                    <div class="mt-3" style="margin-top: 3%" ng-click="work_request='Các yêu cầu để có thể trúng ứng tuyển vào công ty liên quan đến công việc!';work_deadline = '';work_description = '';work_price='';work_sex='';work_format='';work_format='';work_amount='';work_option='';work_yearsofexp='';work_provinc='';work_address='';work_ifamemap='';work_note='';work_benefit=''">
                        <textarea name="work_request" id="editorequest" ">Yêu cầu của công việc</textarea>
                        <div style="font-size: 12px; color: green;margin-top: 2%; font-weight: bold; margin-top: 2%">{{work_request}}</div>
                    </div>
                    <h5 class="font-weight-light text-primary font-weight-bold mt-3" style="margin-top: 3%">QUYỀN LỢI ĐƯỢC HƯỞNG</h5>
                    <div class="mt-3" style="margin-top: 3%" ng-click="work_benefit = 'Quyền lôi hưởng khi làm tại công ty!';work_deadline = '';work_description = '';work_price='';work_sex='';work_format='';work_format='';work_amount='';work_option='';work_yearsofexp='';work_provinc='';work_address='';work_ifamemap='';work_note='';work_request=''">
                        <div class="mt-3" style="margin-top: 3%">
                            <textarea name="work_benefit" id="editorbenefit">Quyền lợi được hưởng</textarea>
                            <div style="font-size: 12px; color: green;margin-top: 2%; font-weight: bold; margin-top: 2%">{{work_benefit}}</div>
                        </div>
                    </div>
                    <br />
                    <div class="alert alert-danger"><i class="fa fa-bell">&nbsp;</i>Tài khoản free của bạn sẽ được AllWork1s duyệt. Sau khi thông tin chính xác, chúng tôi sẽ cho hiển thị trên hệ thống!</div>
                    <button type="submit" class=" btn-l btn-7" style="width: 100%">ĐĂNG BÀI</button>
                </div>
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item bg-primary font-weight-bold" aria-disabled="true" style="color: red;">THÔNG TIN CÔNG VIỆC</li>
                        <li class="list-group-item" ng-click="work_price = '* Giá thấp nhất và giá cao nhất, trả theo đô la hay trả theo triệu.';work_deadline='';work_name='';work_description='';work_sex='';work_format='';work_amount ='';work_yearsofexp='';work_provinc='';work_address='';work_ifamemap ='';work_note='';work_request='';work_benefit=''">
                            <b style="font-weight: bold">Mức lương:</b><input type="number" name="work_pricemin" value="20" style="border: 1px dashed red;width: 70px;" /> - <input type="number" name="work_pricemax" value="30" style="border: 1px dashed red;width: 70px" />
                            <select name="work_symbol" style="border: 1px dashed red;width: 70px">
                                <option value="Triệu">triệu</option>
                                <option value="$">$</option>
                            </select>
                            <div style="font-size: 12px; color: green; font-weight: bold;margin-top: 2%">{{work_price}}</div>
                        </li>
                        <li class="list-group-item" ng-click="work_sex = 'Nhà tuyển dụng cần tuyển giới tính nào, chọn đúng theo yêu cầu cần thiết.';work_deadline='';work_description='';work_price='';work_format='';work_amount ='';work_yearsofexp='';work_provinc='';work_address='';work_ifamemap ='';work_note='';work_request='';work_benefit=''">
                            <b style="font-weight: bold">Yêu cầu giới tính:</b>
                            <select name="work_sex" style="border: 1px dashed red ">
                                <option value="3">Tất cả giới tính</option>
                                <option value="1">Nữ</option>
                                <option value="2">Nam</option>
                            </select>
                            <div style="font-size: 12px; color: green; font-weight: bold;margin-top: 2%">{{work_sex}}</div>
                        </li>
                        <li class="list-group-item" ng-click="work_format = 'Nhập hình thức, toàn thời gian hay bán thời gian.';work_deadline='';work_description='';work_price='';work_sex='';work_amount ='';work_amount ='';work_yearsofexp='';work_provinc='';work_address='';work_ifamemap ='';work_note='';work_request='';work_benefit=''">
                            <b style="font-weight: bold">Hình thức:</b>
                            <select name="work_format" style="border: 1px dashed red">
                                <option value="true">Toàn thời gian</option>
                                <option value="false">Bán thời gian</option>
                            </select>
                            <div style="font-size: 12px; color: green; font-weight: bold;margin-top: 2%">{{work_format}}</div>
                        </li>
                        <li class="list-group-item"><b style="font-weight: bold">Số lượng tuyển: </b><input type="text" placeholder="Số lượng cần tuyển" value="" name="work_amount" style="border: 1px dashed red" ng-click="work_amount = 'Số lượng cần tuyển, sẽ trừ nếu nhận được 1 hồ sơ.';work_deadline='';work_description='';work_price='';work_sex='';work_format='';work_option='';work_yearsofexp='';work_provinc='';work_address='';work_ifamemap ='';work_note='';work_request='';work_benefit=''" /> <div style="font-size: 12px; color: green; font-weight: bold;margin-top: 2%">{{work_amount}}</div></li>
                        <li class="list-group-item"><b style="font-weight: bold">Chức vụ: </b><input type="text" placeholder="Chức vụ" value="" name="work_option" style="border: 1px dashed red" ng-click="work_option = 'Chức vụ cần tuyển ứng viên (vd: nhân viên văn phòng,trưởng phòng,...)';work_deadline = '';work_description = '';work_price='';work_sex='';work_format='';work_format='';work_amount='';work_yearsofexp='';work_provinc='';work_address='';work_ifamemap ='';work_note='';work_request='';work_benefit=''" /> <div style="font-size: 12px; color: green; font-weight: bold;margin-top: 2%">{{work_option}}</div></li>
                        <li class="list-group-item"><b style="font-weight: bold">Kinh nghiệm: </b><input type="number" name="work_yearsofexp" value="1" style="border: 1px dashed red; width: 50px" ng-click="work_yearsofexp = 'Kinh nghiệm cần tuyển, nếu không cần thì để trống!';work_deadline = '';work_description = '';work_price='';work_sex='';work_format='';work_format='';work_amount='';work_option='';work_provinc='';work_address='';work_ifamemap ='';work_note='';work_request='';work_benefit=''" /> năm<div style="font-size: 12px; color: green; font-weight: bold;margin-top: 2%">{{work_yearsofexp}}</div></li>
                        <li class="list-group-item" ng-click="work_provinc = 'Nêu tỉnh thành chính xác, ứng viên có thể biết được nơi làm.';work_deadline = '';work_description = '';work_price='';work_sex='';work_format='';work_format='';work_amount='';work_option='';work_yearsofexp='';work_address='';work_ifamemap ='';work_note='';work_request=''">
                            <b style="font-weight: bold">Địa điểm: </b>
                            <select name="work_province" style="border: 1px dashed red">
                                <option value="1">Bình Dương</option>
                                <option value="2">Tp.Hồ Chí Minh</option>
                            </select>
                            <div style="font-size: 12px; color: green; font-weight: bold;margin-top: 2%">{{work_provinc}}</div>
                        </li>
                    </ul>
                    <ul class="list-group mt-2">
                        <li class="list-group-item bg-primary font-weight-bold" style="color:black" aria-disabled="true">ĐỊA CHỈ</li>
                        <li class="list-group-item" ng-click="work_address = 'Địa chỉ chính của nơi ứng tuyển, ứng viên sau khi ứng tuyển sẽ dựa vào địa chỉ để đến.';work_deadline = '';work_description = '';work_price='';work_sex='';work_format='';work_format='';work_amount='';work_option='';work_yearsofexp='';work_provinc='';work_ifamemap ='';work_note='';work_request='';work_benefit=''">
                            <textarea name="work_address" placeholder="Địa chi tại" style="width: 100%; border: 1px dashed red; height: 150px; margin-top: 3%"></textarea>
                            <div style="font-size: 12px; color: green; font-weight: bold;margin-top: 2%">{{work_address}}</div>
                        </li>
                        <li class="list-group-item bg-primary text-white font-weight-bold" style="color: black" aria-disabled="true">Link map (Ifame)</li>
                        <li class="list-group-item" ng-click="work_ifamemap = 'Đường dẫn link map, để ứng viên có thể sử dụng bản đồ tìm bạn(Vao google map => tìm kiếm vị trí của công ty => Chia sẻ => Nhúng thẻ => Sao chép nội dung HTML) và dán vào ô trên.';work_deadline = '';work_description = '';work_price='';work_sex='';work_format='';work_format='';work_amount='';work_option='';work_yearsofexp='';work_provinc='';work_address='';work_note='';work_request='';work_benefit=''">
                            <textarea name="work_ifamemap" placeholder="Ifame" style="width: 100%; border: 1px dashed red; height: 150px; margin-top: 3%"></textarea>
                            <div style="font-size: 12px; color: green; font-weight: bold;margin-top: 2%">{{work_ifamemap}}</div>
                        </li>
                    </ul>
                    <ul class="list-group mt-2">
                        <li class="list-group-item bg-primary font-weight-bold" style="color:black" aria-disabled="true">GHI CHÚ</li>
                        <li class="list-group-item" ng-click="work_note='Ghi chú những thứ cần thiết để xem lại nội dung tuyển công việc!';work_deadline = '';work_description = '';work_price='';work_sex='';work_format='';work_format='';work_amount='';work_option='';work_yearsofexp='';work_provinc='';work_address='';work_ifamemap='';work_request='';work_benefit=''">
                            <div class="alert alert-danger"><i class="fa fa-bell">&nbsp;</i>Bạn có thể ghi chú lại cho bài biết này!</div>
                            <textarea name="work_note" placeholder="" style="width: 100%; border: 1px dashed BLACK; height: 150px; margin-top: 3%"></textarea>
                            <div style="font-size: 12px; color: green; font-weight: bold;margin-top: 2%">{{work_note}}</div>
                        </li>
                    </ul>
                    <ul class="list-group mt-2">
                        <li class="list-group-item bg-primary font-weight-bold" style="color:black" aria-disabled="true">
                            <img src="~/Content/Layout/images/video.jpg" />
                        </li>
                    </ul>
                    <ul class="list-group mt-2">
                        <li class="list-group-item bg-primary font-weight-bold" style="color:black" aria-disabled="true">
                            <img src="~/Content/Layout/images/market.jpg" />
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    ClassicEditor
        .create(document.querySelector('#editorequest'))
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    ClassicEditor
        .create(document.querySelector('#editorbenefit'))
        .catch(error => {
            console.error(error);
        });
</script>