
@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

<div class=" feature-box">
    <div class="feature-box-top">
        <a href="@Url.Action("ManagerWork","Employer")">
            <div class="feature-box-top1" style="height: 300px">
                <div class="feature-box-box">
                    <h5>BÀI TUYỂN</h5>
                    <img src="~/Content/LayoutEmployer/img/th.jpg" style="height: 150px; width: 100%" />
                    <p>Quản lý bài tuyển riêng của nhà tuyển dụng.</p>
                </div>
            </div>
        </a>
        <div class="feature-box-top1" style="height: 300px">
            <div class="feature-box-box">
                <h5>HỒ SƠ</h5>
                <img src="~/Content/LayoutEmployer/img/checklist.png" style="height: 150px; width: 100%" />
                <p>Hồ sơ nhận từ đăng bài tuyển.</p>
            </div>
        </div>
        <div class="feature-box-top1"  style="height: 300px">
            <div class="feature-box-box">
                <h5>QUẢNG CÁO</h5>
                <img src="~/Content/LayoutEmployer/img/1_k7hTzlFhuSWcwLzAq184TQ.jpeg" style="height: 150px; width: 100%" />
                <p>Đặt quảng cáo lên trang cá nhân và nhiều hơn thế.</p>
            </div>
        </div>
        <div class="feature-box-top1"  style="height: 300px">
            <div class="feature-box-box">
                <h5>BÀI VIẾT</h5>
                <img src="~/Content/LayoutEmployer/img/anatomy-of-a-blog-post-deconstructed-header.jpg" style="height: 150px; width: 100%" />
                <p>Tạo bài viết cá nhân cho nhà tuyển dụng.</p>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

