
@{
    ViewBag.Title = "ViewPageEmployer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("Menu","Home")
<div class="w3l-index-block1">
    <div class="content py-5">
        <div class="container">
            <div class="row align-items-center py-md-5 py-3">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="https://cdn.itviec.com/photos/40792/processed_headline_photo/lg-development-center-vietnam-tuyen-dung-viec-lam-IT-headline_photo-1225369.JPG?He6mLuRivgoA8J3uhAvTcptL" style="height: 500px; width: 100%" />
                    </div>
                    <div class="col-lg-3">
                        <center>
                            <img src="~/Images/Employer/cong-ty-co-phan-vien-thong-fpt-5d5f5980e317c.jpg" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 200px; height: 200px">
                        </center>
                    </div>
                    <div class="col-lg-6">
                        <h3>
                            LG Development Center Vietnam
                        </h3>
                        <ul>
                            <li><i class="fa fa-map-marker-alt">&nbsp;</i>Trụ sở chính: Hà nội</li>
                            <li><i class="fa fa-users">&nbsp;</i>Số thành viên: 100</li>
                            <li><i class="fa fa-dollar">&nbsp;</i>Lương: <a href="#">Đăng nhập để xem lương</a></li>
                            <hr />
                            <li>Sản phẩm: Phần mềm</li>
                            <li>Đang tuyển: Backend website</li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="mt-5">
                            <a href="#" class="btn btn-danger w-100">Theo dõi</a>
                            <a href="#" class="btn btn-primary w-100 mt-2">Viết bình luận - đánh giá</a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="col-lg-12">
                                    <div class="nav-wrapper">
                                        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="fas fa-building">&nbsp;</i>Giới thiệu</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-bell-55 mr-2"></i>Tuyển dụng</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="fa fa-star">&nbsp;</i>Đánh giá</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                                    <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                                                    <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
                                                </div>
                                                <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                                    <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                                </div>
                                                <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                                                    <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card shadow mt-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <a class="btn btn-primary w-100 mt-2" href="#"><i class="fab fa-facebook">&nbsp;</i>Facebook</a>
                                            </div>
                                            <div class="col-lg-6">
                                                <a class="btn btn-primary w-100 mt-2" href="#"><i class="fa fa-share">&nbsp;</i>Chia sẻ</a>
                                            </div>
                                            <div class="col-lg-12 mt-4">
                                                <hr />
                                                <a class="btn btn-warning" href="#"><i class="fa fa-star"></i></a>
                                                <a class="btn btn-warning" href="#"><i class="fa fa-star"></i></a>
                                                <a class="btn btn-warning" href="#"><i class="fa fa-star"></i></a>
                                                <a class="btn btn-warning" href="#"><i class="fa fa-star"></i></a>
                                                <a class="btn btn-primary" href="#"><i class="fa fa-star"></i></a>
                                                7.8
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
