
@{
    ViewBag.Title = "ViewPay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("Menu", "HomeEmployer")
<div class="w3l-index-block1">
    <div class="content py-5">
        <div class="container">
            <div class="align-items-center py-md-5 py-3">
                <section class="pricing-area pricing-one pb-70">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-7 col-sm-9">
                                <div class="pricing-style-one mt-40">
                                    <div class="pricing-header text-center">
                                        <h5 class="sub-title">Miễn phí</h5>
                                        <span class="price">0 vnđ</span>
                                        <p class="year">Vĩnh viển</p>
                                    </div>
                                    <div class="pricing-list" style="height: 650px">
                                        <ul>
                                            <li><i class="lni-check-mark-circle"></i> Đăng <b>5</b> bài tuyển</li>
                                            <li><i class="lni-check-mark-circle"></i> Nhận được <b>10</b> hồ sơ từ ứng viên</li>
                                            <li><i class="lni-check-mark-circle"></i> Nhận gợi ý ứng viên từ 5 <i class="fas fa-angle-right"></i>20 hồ sơ đúng kỹ năng</li>
                                            <li><i class="lni-check-mark-circle"></i> Trình quản lý đa nhiệm</li>
                                            <li><i class="lni-check-mark-circle"></i> Chat <b>load</b> trang</li>
                                            <li><i class="lni-check-mark-circle"></i> Tự chọn thông tin hồ sơ</li>
                                            <li><i class="lni-check-mark-circle"></i> Trình tìm kiếm hồ sơ cơ bản</li>
                                            <li><i class="lni-check-mark-circle"></i> Tạo thông báo trên trang cá nhân</li>
                                            <li><i class="lni-check-mark-circle"></i> Thời gian tồn tại bài viết (Không quá 10 ngày)</li>
                                            <li><i class="lni-check-mark-circle"></i> Tải pdf hồ sơ <b>10</b> lần 1 ngày</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-btn rounded-buttons text-center">
                                        <a class="main-btn rounded-one" href="#">Dùng Ngay</a>
                                    </div>
                                    <div class="bottom-shape">
                                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 112.35"><defs></defs><title>bottom-part1</title><g><g data-name="Group 747"><path data-name="Path 294" class="cls-1 color-1" d="M0,24.21c120-55.74,214.32,2.57,267,0S349.18,7.4,349.18,7.4V82.35H0Z" transform="translate(0 0)" /><path data-name="Path 297" class="cls-2 color-1" d="M350,34.21c-120-55.74-214.32,2.57-267,0S.82,17.4.82,17.4V92.35H350Z" transform="translate(0 0)" /><path data-name="Path 296" class="cls-3 color-1" d="M0,44.21c120-55.74,214.32,2.57,267,0S349.18,27.4,349.18,27.4v74.95H0Z" transform="translate(0 0)" /><path data-name="Path 295" class="cls-4 color-1" d="M349.17,54.21c-120-55.74-214.32,2.57-267,0S0,37.4,0,37.4v74.95H349.17Z" transform="translate(0 0)" /></g></g></svg>
                                    </div>
                                </div> <!-- single pricing -->
                            </div>

                            <div class="col-lg-4 col-md-7 col-sm-9">
                                <div class="pricing-style-one mt-40">
                                    <div class="pricing-header text-center">
                                        <h5 class="sub-title">Cơ bản</h5>
                                        <span class="price">2 triệu vnđ</span>
                                        <p class="year">1 Tháng</p>
                                    </div>
                                    <div class="pricing-list" style="height: 650px">
                                        <ul>
                                            <li><i class="lni-check-mark-circle"></i> Đăng <b>100</b> bài tuyển</li>
                                            <li><i class="lni-check-mark-circle"></i> Nhận được <b>200</b> hồ sơ từ ứng viên</li>
                                            <li><i class="lni-check-mark-circle"></i> Nhận gợi ý ứng viên từ 100 <i class="fas fa-angle-right"></i>200 hồ sơ đúng kỹ năng</li>
                                            <li><i class="lni-check-mark-circle"></i> Trình quản lý đa nhiệm</li>
                                            <li><i class="lni-check-mark-circle"></i> Chat <b> không load</b> trang</li>
                                            <li><i class="lni-check-mark-circle"></i> Tự chọn thông tin hồ sơ</li>
                                            <li><i class="lni-check-mark-circle"></i> Trình tìm kiếm hồ sơ nâng cao</li>
                                            <li><i class="lni-check-mark-circle"></i> Tạo thông báo trên trang cá nhân</li>
                                            <li><i class="lni-check-mark-circle"></i> Thời gian tồn tại bài viết (Không quá 20 ngày)</li>
                                            <li><i class="lni-check-mark-circle"></i> Tải pdf hồ sơ <b>không giới hạn</b></li>
                                            <li><i class="lni-check-mark-circle"></i> Tạo quảng cáo banner trên trang cá nhân</li>
                                            <li><i class="lni-check-mark-circle"></i> Ưu tiên hiển thị bài tuyển tại trang chủ.</li>
                                            <li><i class="lni-check-mark-circle"></i> Ưu tiên hiển thị bài tuyển tại trang cá nhân hoặc gợi ý cho ứng viên.</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-btn rounded-buttons text-center">
                                        <a class="main-btn rounded-one" href="#">GET STARTED</a>
                                    </div>
                                    <div class="bottom-shape">
                                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 112.35"><defs></defs><title>bottom-part1</title><g><g data-name="Group 747"><path data-name="Path 294" class="cls-1 color-1" d="M0,24.21c120-55.74,214.32,2.57,267,0S349.18,7.4,349.18,7.4V82.35H0Z" transform="translate(0 0)" /><path data-name="Path 297" class="cls-2 color-1" d="M350,34.21c-120-55.74-214.32,2.57-267,0S.82,17.4.82,17.4V92.35H350Z" transform="translate(0 0)" /><path data-name="Path 296" class="cls-3 color-1" d="M0,44.21c120-55.74,214.32,2.57,267,0S349.18,27.4,349.18,27.4v74.95H0Z" transform="translate(0 0)" /><path data-name="Path 295" class="cls-4 color-1" d="M349.17,54.21c-120-55.74-214.32,2.57-267,0S0,37.4,0,37.4v74.95H349.17Z" transform="translate(0 0)" /></g></g></svg>
                                    </div>
                                </div> <!-- single pricing -->
                            </div>

                            <div class="col-lg-4 col-md-7 col-sm-9">
                                <div class="pricing-style-one mt-40">
                                    <div class="pricing-header text-center">
                                        <h5 class="sub-title">Cao cấp</h5>
                                        <span class="price">4 triệu vnđ</span>
                                        <p class="year">2 Tháng</p>
                                    </div>
                                    <div class="pricing-list" style="height: 650px">
                                        <ul>
                                            <li><i class="lni-check-mark-circle"></i> Đăng <b>250</b> bài tuyển</li>
                                            <li><i class="lni-check-mark-circle"></i> Nhận được <b>450</b> hồ sơ từ ứng viên</li>
                                            <li><i class="lni-check-mark-circle"></i> Nhận gợi ý ứng viên từ 250 <i class="fas fa-angle-right"></i>450 hồ sơ đúng kỹ năng</li>
                                            <li><i class="lni-check-mark-circle"></i> Trình quản lý đa nhiệm</li>
                                            <li><i class="lni-check-mark-circle"></i> Chat <b> không load</b> trang</li>
                                            <li><i class="lni-check-mark-circle"></i> Tự chọn thông tin hồ sơ</li>
                                            <li><i class="lni-check-mark-circle"></i> Trình tìm kiếm hồ sơ nâng cao</li>
                                            <li><i class="lni-check-mark-circle"></i> Tạo thông báo trên trang cá nhân</li>
                                            <li><i class="lni-check-mark-circle"></i> Thời gian tồn tại bài viết (Không quá 50 ngày)</li>
                                            <li><i class="lni-check-mark-circle"></i> Tải pdf hồ sơ <b>không giới hạn</b></li>
                                            <li><i class="lni-check-mark-circle"></i> Tạo quảng cáo banner trên trang cá nhân</li>
                                            <li><i class="lni-check-mark-circle"></i> Ưu tiên hiển thị bài tuyển tại trang chủ.</li>
                                            <li><i class="lni-check-mark-circle"></i> Ưu tiên hiển thị bài tuyển tại trang cá nhân hoặc gợi ý cho ứng viên.</li>
                                            <li><i class="lni-check-mark-circle"></i> Ưu tiên hiển thị bài tuyển tại tất cả trang web của hệ thống.</li>
                                            <li><i class="lni-check-mark-circle"></i> Độc quyền riêng.</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-btn rounded-buttons text-center">
                                        <a class="main-btn rounded-one" href="#">Mua ngay</a>
                                    </div>
                                    <div class="bottom-shape">
                                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 112.35"><defs></defs><title>bottom-part1</title><g><g data-name="Group 747"><path data-name="Path 294" class="cls-1 color-1" d="M0,24.21c120-55.74,214.32,2.57,267,0S349.18,7.4,349.18,7.4V82.35H0Z" transform="translate(0 0)" /><path data-name="Path 297" class="cls-2 color-1" d="M350,34.21c-120-55.74-214.32,2.57-267,0S.82,17.4.82,17.4V92.35H350Z" transform="translate(0 0)" /><path data-name="Path 296" class="cls-3 color-1" d="M0,44.21c120-55.74,214.32,2.57,267,0S349.18,27.4,349.18,27.4v74.95H0Z" transform="translate(0 0)" /><path data-name="Path 295" class="cls-4 color-1" d="M349.17,54.21c-120-55.74-214.32,2.57-267,0S0,37.4,0,37.4v74.95H349.17Z" transform="translate(0 0)" /></g></g></svg>
                                    </div>
                                </div> <!-- single pricing -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- container -->
                </section>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<style>
    .color-1 {
        fill: #2bdbdc;
        isolation: isolate;
    }

    .cls-1 {
        opacity: 0.1;
    }

    .cls-2 {
        opacity: 0.2;
    }

    .cls-3 {
        opacity: 0.4;
    }

    .cls-4 {
        opacity: 0.6;
    }
</style>