<div class="list-style mt-50">
    <h4 class="list-title">Check list</h4>
    <div class="list-style-two">
        <ul>
            <li><i class="lni-check-box"></i>  Lorem ipsum dolor sit amet</li>
            <li><i class="lni-check-box"></i>  Lorem ipsum dolor sit amet dolor sit</li>
            <li><i class="lni-check-box"></i>  Lorem ipsum dolor</li>
            <li><i class="lni-check-box"></i>  Lorem ipsum dolor sit</li>
        </ul>
    </div>
</div> <!-- list-style-two -->