@using WebsiteWork.Models;
@model List<Employer>


@foreach (var item in Model)
{
    <div class="col-lg-2 col-4">
        <a href="https://www.creative-tim.com/product/argon-design-system" target="_blank" data-toggle="tooltip" data-original-title="Bootstrap 4 - Most popular front-end component library">
            <img src="~/Images/Employer/@item.employer_logo" class="img-fluid" style="width: 100%; height: 80px">
        </a>
    </div>
}