@using WebsiteWork.Models;
@model List<Employer>


@foreach (var item in Model)
{
    <div class="col-lg-2 col-4">
        <a href="@Url.Action("DetailsEmployer","View", new { id = item.employer_id })" target="_blank" data-toggle="tooltip" data-original-title="Bootstrap 4 - Most popular front-end component library">
            <img src="~/Images/Employer/@item.employer_logo" class="img-fluid" style="width: 100%; height: 80px">
        </a>
    </div>
}