<div class="row py-1 bg-primary" style="padding: 5%; height: 80px">
    <div class="col-lg-5 col-sm-6 mt-1" style="padding: 0px">
        <div class="form-input mt-55">
            <form action="#">
                <div class="input-items active">
                    <input type="text" placeholder="Tên công việc hoặc vị trí - kỹ năng ứng tuyển..." class="form-control" style="border-radius: 0%;border: 2px solid #151965">
                    <i class="lni-search" style="color:#151965"></i>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mt-1" style="padding: 0px">
        <select class="form-control" style="border: 2px solid #151965;height: 44px;border-radius: 0%">
            <option>Tỉnh thành</option>
            <option>1</option>
            <option>1</option>
            <option>1</option>
        </select>
    </div>
    <div class="col-lg-3 col-sm-6 mt-1" style="padding: 0px">
        <select class="form-control" style="border: 2px solid #151965; height: 44px;border-radius: 0%">
            <option><i class="lni lni-thought">&nbsp;</i>Nghề nghiệp</option>
            <option>1</option>
            <option>1</option>
            <option>1</option>
        </select>
    </div>
    <div class="col-lg-1 col-sm-6 mt-1" style="padding: 0px">
        <button class="btn btn-danger w-100" style="height: 41px;border-radius: 0%"><i class="fa fa-search"></i></button>
    </div>
    <div class="col-lg-10" style="padding: 0px">
        <div class="form-input mt-55">
            <b class="text-white">Tìm việc làm nhanh nhất tại AllWork1s</b>
        </div>
    </div>
    <div class="col-lg-2" style="padding: 0px">
        <div class="form-input mt-55">
            <p class="text-white">Tìm kiếm nâng cao</p>
        </div>
    </div>
</div>