<div class="col-lg-5 col-sm-6 mt-1">
    <div class="form-input mt-55">
        <form action="#">
            <div class="input-items active">
                <input type="text" placeholder="Tên công việc hoặc vị trí - kỹ năng ứng tuyển..." class="form-control" style="border: 2px solid #151965">
                <i class="lni-search" style="color:#151965"></i>
            </div>
        </form>
    </div>
</div>
<div class="col-lg-3 col-sm-6 mt-1">
    <select class="form-control" style="border: 2px solid #151965; height: 45px">
        <option>Tỉnh thành</option>
        <option>1</option>
        <option>1</option>
        <option>1</option>
    </select>
</div>
<div class="col-lg-3 col-sm-6 mt-1">
    <select class="form-control" style="border: 2px solid #151965; height: 45px">
        <option><i class="lni lni-thought">&nbsp;</i>Nghề nghiệp</option>
        <option>1</option>
        <option>1</option>
        <option>1</option>
    </select>
</div>
<div class="col-lg-1 col-sm-6 mt-1">
    <button class="btn btn-primary w-100" style="height: 45px"><i class="fa fa-search"></i></button>
</div>