USE [master]
GO
/****** Object:  Database [DataWork]    Script Date: 9/4/2020 10:29:51 PM ******/
CREATE DATABASE [DataWork]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataWork', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DataWork.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DataWork_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DataWork_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataWork].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataWork]
GO
/****** Object:  Table [dbo].[Cv]    Script Date: 9/4/2020 10:29:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cv](
	[cv_id] [int] IDENTITY(1,1) NOT NULL,
	[cv_fullname] [nvarchar](200) NULL,
	[cv_location] [nvarchar](200) NULL,
	[cv_bird] [datetime] NULL,
	[cv_sex] [int] NULL,
	[cv_phone] [varchar](50) NULL,
	[cv_email] [nvarchar](200) NULL,
	[cv_address] [nvarchar](200) NULL,
	[cv_linkfc] [nvarchar](300) NULL,
	[cv_target] [nvarchar](max) NULL,
	[cv_datebegineducation] [datetime] NULL,
	[cv_dateendeducation] [datetime] NULL,
	[cv_contenteducation] [nvarchar](max) NULL,
	[cv_datebeginexp] [datetime] NULL,
	[cv_dateendexp] [datetime] NULL,
	[cv_contentexp] [nvarchar](max) NULL,
	[cv_datebeginexptwo] [date] NULL,
	[cv_dateendexptwo] [date] NULL,
	[cv_contentexptwo] [nvarchar](max) NULL,
	[cv_datebeginactivate] [datetime] NULL,
	[cv_dateendactivate] [datetime] NULL,
	[cv_contentactivate] [nvarchar](max) NULL,
	[cv_contentcertificate] [nvarchar](max) NULL,
	[cv_contentreward] [nvarchar](max) NULL,
	[cv_english] [nvarchar](max) NULL,
	[cv_IT] [nvarchar](max) NULL,
	[user_id] [int] NULL,
	[cv_numbertheme] [int] NULL,
	[cv_yearre] [nvarchar](50) NULL,
	[cv_yearcerti] [nvarchar](50) NULL,
	[cv_schools] [nvarchar](200) NULL,
	[cv_industrystory] [nvarchar](200) NULL,
	[cv_species] [int] NULL,
	[cv_point] [varchar](100) NULL,
	[cv_roleexp] [nvarchar](100) NULL,
	[cv_roleexptwo] [nvarchar](100) NULL,
 CONSTRAINT [PK_Cv] PRIMARY KEY CLUSTERED 
(
	[cv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employer]    Script Date: 9/4/2020 10:29:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employer](
	[employer_id] [int] IDENTITY(1,1) NOT NULL,
	[employer_email] [varchar](100) NULL,
	[employer_pass] [varchar](200) NULL,
	[employer_fullname] [varchar](100) NULL,
	[employer_sex] [int] NULL,
	[employer_company] [nvarchar](150) NULL,
	[employer_position] [int] NULL,
	[employer_address] [nvarchar](300) NULL,
	[employer_phone] [varchar](15) NULL,
	[employer_vacancies] [int] NULL,
	[employer_token] [nvarchar](max) NULL,
	[employer_datelogin] [datetime] NULL,
	[employer_datecreated] [datetime] NULL,
	[employer_activate] [bit] NULL,
	[employer_status] [bit] NULL,
	[employer_logo] [nvarchar](max) NULL,
	[employer_specialized] [nvarchar](200) NULL,
 CONSTRAINT [PK_Employer] PRIMARY KEY CLUSTERED 
(
	[employer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Theme]    Script Date: 9/4/2020 10:29:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theme](
	[theme_id] [int] IDENTITY(1,1) NOT NULL,
	[cv_id] [int] NULL,
	[theme_datecreate] [int] NULL,
 CONSTRAINT [PK_Theme] PRIMARY KEY CLUSTERED 
(
	[theme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 9/4/2020 10:29:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_login] [varchar](60) NULL,
	[user_pass] [varchar](255) NULL,
	[user_nicename] [varchar](50) NULL,
	[user_email] [varchar](100) NULL,
	[user_datecreated] [datetime] NULL,
	[user_token] [varchar](200) NULL,
	[user_role] [int] NULL,
	[user_datelogin] [datetime] NULL,
	[user_activate] [bit] NULL,
	[user_image] [nvarchar](max) NULL,
	[user_industryloving] [nvarchar](max) NULL,
	[user_skill] [nvarchar](max) NULL,
	[user_interests] [nvarchar](max) NULL,
	[user_view] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Work]    Script Date: 9/4/2020 10:29:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work](
	[work_id] [int] IDENTITY(1,1) NOT NULL,
	[work_name] [nvarchar](120) NULL,
	[work_image] [nvarchar](max) NULL,
	[work_deadline] [datetime] NULL,
	[work_description] [nvarchar](max) NULL,
	[work_request] [nvarchar](max) NULL,
	[work_benefit] [nvarchar](max) NULL,
	[work_address] [nvarchar](120) NULL,
	[work_moneyf] [int] NULL,
	[work_moneye] [int] NULL,
	[work_amount] [int] NULL,
	[work_activate] [bit] NULL,
	[work_option] [bit] NULL,
	[work_view] [int] NULL,
	[work_love] [int] NULL,
	[work_map] [nvarchar](max) NULL,
	[work_datecreated] [datetime] NULL,
	[work_dateexpired] [datetime] NULL,
	[work_datesend] [datetime] NULL,
	[work_imagetwo] [nvarchar](max) NULL,
	[work_imgathree] [nvarchar](max) NULL,
	[employer_id] [int] NULL,
 CONSTRAINT [PK_Work] PRIMARY KEY CLUSTERED 
(
	[work_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Cv] ON 

SET IDENTITY_INSERT [dbo].[Cv] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [user_login], [user_pass], [user_nicename], [user_email], [user_datecreated], [user_token], [user_role], [user_datelogin], [user_activate], [user_image], [user_industryloving], [user_skill], [user_interests], [user_view]) VALUES (13, NULL, N'123', N'Tanhuynh1999', N'huynhminhtan4019@gmail.com', CAST(0x0000AC28015387B1 AS DateTime), N'550d0682-cf29-4eed-bb2b-2f45febabafc', 1, CAST(0x0000AC2C00CB743B AS DateTime), 1, NULL, N'Công nghệ thông tin', N'Code webiste, code c#, fontend, backend', N'Thích code website, đi chơi', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[Work] ON 

INSERT [dbo].[Work] ([work_id], [work_name], [work_image], [work_deadline], [work_description], [work_request], [work_benefit], [work_address], [work_moneyf], [work_moneye], [work_amount], [work_activate], [work_option], [work_view], [work_love], [work_map], [work_datecreated], [work_dateexpired], [work_datesend], [work_imagetwo], [work_imgathree], [employer_id]) VALUES (2, N'1', NULL, NULL, N'1', N'1', N'1', N'1', 1, 1, 1, 1, 1, 1, 1, N'1', NULL, NULL, NULL, N'1', N'1', NULL)
SET IDENTITY_INSERT [dbo].[Work] OFF
ALTER TABLE [dbo].[Cv]  WITH CHECK ADD  CONSTRAINT [FK_Cv_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Cv] CHECK CONSTRAINT [FK_Cv_User]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK_Work_Employer] FOREIGN KEY([employer_id])
REFERENCES [dbo].[Employer] ([employer_id])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK_Work_Employer]
GO
USE [master]
GO
